body {
    margin: 0;
    padding: 0;

}

#app {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}


.poke-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}